*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
    
}

html,body{
    background-color: #fff;
}

.nav{
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    height: 85px;
    /* border: 2px solid red; */
}

.brand{
    font-size: large;
}

.nav ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.893);
    font-size: clamp(16px, 2vw, 21px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.nav ul li{
    display: flex;
    text-decoration: none;
    
}

.nav ul {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 40px; 
}

.menu{
    display: none;   
}

.share{
    font-size: 3.9vh;
    padding-right: 3rem;
}

.share a{
    color: rgb(0, 0, 0);
}

@media  (max-width: 880px ) {
    .nav ul li{
        display:none;
    }

    .share{
        display: none;
    }

    .menu{
        display: block;
        font-size: 1.5rem;
    }

    .brand{
        margin-left: 20px;
    }

     .nav ul.open {
        display: flex;
    }
}


                        /* SWIPERLINK */

 html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.hero{
    background-image: url(/slider-1-slide-2-1770x742.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 742px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero2{
    background-image: url(/slider-1-slide-4-1770x742.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 742px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content{
    text-align: center;
}

.hero2 h2{
    color: #000;
    font-size: 72px;
    flex-wrap: wrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-content p{
    color: #000;
    letter-spacing: 1.3px;
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
    flex-wrap: wrap;
}

.hero3{
    background-image: url(/slider-1-slide-6-1770x742.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 742px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content{
    text-align: center;
}

.hero3 h2{
    color: #000;
    font-size: 72px;
    flex-wrap: wrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-content p{
    color: #000;
    letter-spacing: 1.3px;
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
    flex-wrap: wrap;
}

.hero-content{
    text-align: center;
}

.hero h2{
    color: #000;
    font-size: 72px;
    flex-wrap: wrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-content p{
    color: #000;
    letter-spacing: 1.3px;
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
    flex-wrap: wrap;
}

.btn-touch{
    margin-top: 10px;
    padding: 20px 40px;
    font-size: 1rem;
    color: white;
    background-color: #5b7cf5;
    border: none;
}

.btn-touch:hover{
    background-color: #3a5bd9;
    cursor: pointer;
}

/* section2  */

.section2{
    display: flex;
    height: 800px;
    width: 100%;
    border: 2px solid red;
    background-color: #fff;
    padding: 100px 0px 50px;
    justify-content: center;
}

.phone{
    height: 592px;
    width: 415px;
    background-image: url(/index-1-415x592.webp);
    background-size: cover;
    border: 1px solid black;
    display: flex;                    
    justify-content: flex-start;
}

.section-main{
    margin: 0px 0px 0px 70px;
    width: 50%;
    height: 680px;
    border: 1px solid black;
    padding: 0px 0px 15px;
    display: flex; 
    
}

.boxes-main{
    margin: 0px 70px 0px 0px;
    width: 50%;
    height: 680px;
    border: 1px solid black;
    padding: 0px 0px 15px;
    display: flex;        
    flex-wrap: wrap;
    gap: 0px 30px;   
}

.box{
    height: 310px;
    width: 300px;
    margin: 0px 0px 30px;
    padding: 0px 15px;
    border: 1px solid black;
    box-sizing: border-box;
}

.box-inner{
    height: 310px;
    width: 270px;
    /* padding: 36px 15px 38px;
    border: 1px solid black;   
}
 
.box-ineer h1{
     text-align: center;
     margin-top: 60px;
     font-size: 30px;
}

.btn-touch1{
    padding: 20px 35px;
    font-size: 1rem;
    color: white;
    background-color: #5b7cf5;
    border: none;
    margin: 20px 0px 0px 20px;
}

.box-ineer h3{
     text-align: center;
     margin-top: 120px;
     font-size: 18px;
}

.box-ineer p{
     text-align: center;
     margin-top: 10px;
     font-size: 16px;
} 

















